<h1>Welcome!</h1>
<!-- Iterates through each author -->
{{#each users}}
  <div><a href="/user/{{_id}}">{{name}}</a></div>
  {{#each cities}}
    <div class="city">
      <div class="cityName"><a href="/city/{{_id}}">{{name}}</a></div>
      <!-- For each city, it will iterate through their notes-->
      {{#each notes}}
        <p class="note">{{body}}</p>
      {{/each}}
    </div>
  {{/each}}
{{/each}}
